<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411393947451-dci447kne3aglou6qf8qqgh053sn1rps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411393947451-dci447kne3aglou6qf8qqgh053sn1rps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>411393947451-9p6ir0ul1sk81idch8qng347ucgmp8q9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDK8uWKzgkbg4u_OxeIW5KZwxePYfJxocQ</string>
	<key>GCM_SENDER_ID</key>
	<string>411393947451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.ratedly</string>
	<key>PROJECT_ID</key>
	<string>rateapp-3b78e</string>
	<key>STORAGE_BUCKET</key>
	<string>rateapp-3b78e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411393947451:ios:ab53b78617911e6ada691e</string>
</dict>
</plist>